.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 8px;
  padding-top: 8px;
  gap: 16px;

  @media (min-width: 768px) {
    padding-left: 24px;
    padding-top: 24px;
  }
}

.siteName {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.navItem {
  padding: 3px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  transition: all 150ms ease-out;
  font-size: 0.8rem;
  font-weight: 550;

}

.navItem:hover {
  letter-spacing: 0.05em;
}

.active {
  color: var(--blue);
  font-weight: 650;
}
