.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.inputContainer {
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
  background-color: #fff;
}

/* Platform-specific box shadows */
.inputContainer:has(.blueskyInput) {
  box-shadow: 0 0 0 1px rgb(0, 133, 255);
}

.inputContainer:has(.xInput) {
  box-shadow: 0 0 0 1px #000;
}

/* Focus states */
.inputContainer:has(.blueskyInput):focus-within {
  box-shadow: 0 0 0 2px rgb(0, 133, 255);
}

.inputContainer:has(.xInput):focus-within {
  box-shadow: 0 0 0 2px #000;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  padding: 12px;
  transition: all 150ms ease-in-out;
  background-color: #fff;
}

.blueskyIconContainer {
  background-color: #fff;
}

.xIconContainer {
  background-color: #fff;
}

.inputIcon {
  width: 16px;
  height: 16px;
}

.input {
  flex: 1;
  padding: 12px;
  padding-left: 4px;
  padding-right: 4px;
  border: none;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  transition: all 150ms ease-in-out;
}

.input:focus {
  outline: none;
}

.errorMessage {
  color: #6b7280;
  font-size: 12px;
  padding-left: 12px;
  min-height: fit-content;
  transition: all 200ms ease-in-out;
}

.blueskyInputIcon {
  filter: brightness(0) saturate(100%) invert(40%) sepia(85%) saturate(2784%) hue-rotate(199deg) brightness(102%) contrast(107%);
}

.xInputIcon {
  filter: brightness(0);
}

/* Focus states */
.inputContainer:focus-within .blueskyIconContainer {
  background-color: rgb(0, 133, 255);
}

.inputContainer:focus-within .xIconContainer {
  background-color: #000;
}

.inputContainer:focus-within .blueskyInputIcon,
.inputContainer:focus-within .xInputIcon {
  filter: brightness(0) invert(1);
}