.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  height: fit-content;
}

.inputWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: transparent;
  padding: 4px;
}

.inputWrapper.error {
  background-color: var(--soft-red);
}

.input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-size: var(--type-scale-7);
  transition: border-color 0.2s ease;
}

.input.error {
  border-color: var(--hard-red);
}

.input:focus {
  outline: none;
  border-color: var(--dark-grey);
}

.input::placeholder {
  color: var(--lightest-grey);
}

.errorContainer {
  padding-left: 6px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  width: 100%;
}

.errorText {
  color: var(--light-grey);
  font-size: var(--type-scale-8);
  width: fit-content;
}
